

/*
     FILE ARCHIVED ON 10:00:02 Nov 12, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:40:10 Sep 02, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 135.476
  exclusion.robots.policy: 0.17
  PetaboxLoader3.resolve: 49.313
  CDXLines.iter: 23.72 (3)
  esindex: 0.016
  LoadShardBlock: 101.786 (3)
  load_resource: 281.263
  RedisCDXSource: 6.695
  PetaboxLoader3.datanode: 304.723 (4)
  exclusion.robots: 0.182
*/